*{
	margin: 0px;
	padding: 0px;
	background-color: #C8C8C8;
}

#form{
		border: 7px solid #3300FF;
		width: 350px;
		margin: 50px auto;
		text-align: center;
		background-color: #3300FF;
}
h3{
	position: relative;
	top: 30px;
	left:510px;
	color: black;
	text-decoration: underline;
}